# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# MLflow
mlruns/
mlflow.db

# Spark outputs
spark/output/
spark/checkpoints/

# Logs
*.log

# OS
.DS_Store

# VS Code
.vscode/

# Docker
*.pid
